<p id="notice"><%= notice %></p>


<strong>User Json Data</strong>

<%= @user.export %>


<p>
  <strong>Friends Requets:</strong>

  <%@user.pending_sent_friend_requests.each do |friend| %>
<li><%= friend.name %></li>
<% end %>
</p>


<p>
{"user" : { "events" :
  <%= @user.events_user_is_attending %>
}
}
</p>

<p>
{"available": [
<p>"events":[
  <% @user.events_that_are_available_to_me.each do |event|%>


<%= event.export %>,
"users" : <%= event.users_who_are_attending %>

</p>
<% end %>
]]}

<p>
  <strong>Events I created</strong>
  <%= @user.events_hosting %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
