<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>



<p>
  <strong>Friends Requets:</strong>

  <%@user.pending_sent_friend_requests.each do |friend| %>
<li><%= friend.name %></li>
<% end %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @user.image %>
</p>

<p>
<strong>Events attending</strong>
  <%= @user.events_user_is_attending.inspect%>
</p>

<p>
<strong>Events that are available to me</strong>
  <%= @user.events_that_are_available_to_me.inspect%>
</p>

<p>
  <strong>Events I created</strong>
  <%= @user.events_hosting.inspect %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
