
<div class = "container">
<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class ="row">
    <div class = "col-md-6 col-md-offset-3">
      <div id = "Description-label">Quick Description</div>
    </div>
  </div>

  <div class="row">
    <%= f.text_field :description, :class => "col-md-6 col-md-offset-3 description-input", :placeholder => "Going to Gym, Wrigley, Surfing, Watching a move"%>
  </div>

  <div class ="row">
    <div class = "col-md-6 col-md-offset-3">
      <div id = "Starting-time-label">Starting</div>
    </div>
  </div>

  <div class ="row">
      <div class = 'col-md-3 col-md-offset-3'>
        <div class = "start-time-selection"> Now</div>
          <div class = "button-placement">
          <%= f.radio_button :start_date, :value => Time.now %>
            </div>
      </div>

      <div class = 'col-md-3 ' id =" middle-selector">
        <div class = "start-time-selection"> Tonight</div>
          <div class = "button-placement">
          <%= f.radio_button :start_date, :value => Time.now %>
            </div>
      </div>



</div>

  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.datetime_select :end_date %>
  </div>





    <%= f.hidden_field :invite_only, :value => false %>


  <div class="field">
    <%= f.label :creator_uid %><br>
    <%= f.hidden_field :creator_uid, :value => current_user.uid%>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
<div class="actions">
    <%= f.submit %>
    </div>
    <% end %>
    </div>
