Attending page
<div class="content-wrapper filtered">
<div class="filters">
  <ul>
    <li><a href="/events">All</a></li>

    <li><a href="/attending">Attending</a></li>
    <li><a href="/hosting">Hosting</a></li>


</ul>
</div>

  <header>
    <h2>Events</h2>
  </header>
  <div class="content">
<% if user_signed_in? %>

<% current_user.events_user_is_attending.each do |event| %>

    <div class="event">
      <div class="attendees">
        <ul class="guest-list">
          <li class="host">
            <a href="#">
              <div class="avatar" style="background: url(<%= event.creator.image %>)"></div>
              <div class="fname"><%= event.creator.first_name.upcase %></div>
            </a>
          </li>
            <% event.users_who_are_attending.first(3).each do |attendee| %>
          <!-- first x users li repeat -->
          <li class="attendee">
            <a href="#">
              <div class="avatar" style="background: url(<%= attendee.image %>)"></div>
              <div class="fname"><%= attendee.first_name.upcase %></div>
            </a>
          </li>
        <% end %>

        </ul>
        <div class="attending centerh">
          <div><%= event.users_who_are_attending.count+1 %> Attending</div>


            <% if event.attendances.where(:user_uid => current_user.uid).exists? %>
              <% event.attendances.where(:user_uid => current_user.uid).each do |attendance| %>
            <%= link_to 'Destroy', attendance, :class =>"btn btn-attend", method: :delete %>
            <% end %>
            <% else %>


          <%= form_for(@attendance) do |f| %>
            <%= f.hidden_field :user_uid, :value => current_user.uid %>
            <%= f.hidden_field :event_id, :value => event.id%>
            <%= f.submit 'Attend', :class => "btn btn-attend"  %>
            <% end %>


          <% end %>




        </div>
        <div class="arrow"></div>
      </div>
      <div class="details">
        <h3 class="where"><%= event.location %></h3>
        <div class="when">
          <p class="date"><%=event.start_date.strftime("%A, %b %d") %></p>
          <p class="time"><%= event.start_date.strftime("%l:%m%p ")%> - <%= event.end_date.strftime("%l:%m%p ") %></p>
        </div>
        <!-- p if description -->
        <div class="comments">Comments to be added vNext.</div>
      </div>
    </div>
<% end %>
<% end %>

  </div>
</div>
