<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>


<p>
  <strong>Users who are attending the event</strong>
  <%= @event.users_who_are_attending.inspect %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>



<p>
  <strong>Invite only:</strong>
  <%= @event.invite_only %>
</p>

<p>
  <strong>Creator uid:</strong>
  <%= @event.creator_uid %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
